html, body {
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: 'PressStart2P';
    src: url('gfx/ttf/PressStart2P-Regular.ttf');
}

@font-face {
    font-family: 'JetBrains-Mono';
    src: url('gfx/woff/JetBrainsMono-Regular.woff2') format('woff2');
}

/* Default when there isn't a div class selected */

* {
    font-family: 'JetBrains-Mono';
}

.center {
    text-align: center;
    border: 3px black;
}

.h1-index {
    font-family: 'PressStart2P';
    font-size: 200%;
    padding: 50px;
}

.p-index {
    font-family: 'PressStart2P';
    font-size: 115%;
    padding: 10px;
}